<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/header'); %>

    <h1>Login</h1>
    <a href="/auth/spotify">Login with Spotify</a>

    <%- include('./partials/footer'); %>
</body>

</html>